/*
/**/*.DS_Store

!.gitignore
!.editorconfig
!package.json
!package-lock.json
!README.md
!.browserslistrc
!.eslintignore
!.eslintrc
!.prettierrc
!.prettierignore
!jsconfig.json
!babel.config.json

!/cfg
/cfg/webpack.vars.local.js

!/public
/public/assets/css/*
!/public/assets/css/.gitkeep
/public/assets/js

!/src
src/scss/settings/icon-fonts/**/*
!src/scss/settings/icon-fonts/_index.scss

src/handlebars/*.hbs
!src/handlebars/_template.hbs
